* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #c1c7d0;
}

.nav-section {
  background-color: white;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 8px 0;
}

.logo {
  color: var(--primary-b-400, #6070ff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  margin-left: 30px;
  cursor: pointer;
}

.btn {
  display: block;
  margin: 12px 25px 0 0;
  cursor: pointer;
}

.btn-1 {
  width: 25px;
  height: 3px;
  background-color: #6070ff;
  margin-top: 3px;
}

.about {
  width: 100%;
  height: auto;
  background-image: url("image/header-shapes mobile.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0 150px 0;
  border-radius: 0 0 0 60px;
}

.about-title {
  margin: 50px 0 0 30px;
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
}

.par-me {
  color: #344563;
  margin: 10px 0 0 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.connection {
  color: #7f8cff;
  margin: 10px 0 0 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 0 10px;
}

ul li {
  list-style: none;
  margin-left: 20px;
}

ul li a {
  text-decoration: none;
}
